
<div id="download" class="padding-top-bottom text-center page-well">
  <div class="container smaller">
      <h2 class="larger h1">Get the WeatherCitizen App</h2>
      <div class="flex">
      <img src="/assets/images/weather-citizen-download-app.png" alt="Download the WeatherCitizen app" />
      <div class="content">
          <p>WeatherCitizen is now available on Android and iOS.</p>
          <h2><strong>Download it for free today!</strong></h2>
          <a href="https://play.google.com/store/apps/details?id=com.creare.weathercitizen" target="_blank">
          <img src="assets/images/weathercitizen-on-google-play.png" alt="Get WeatherCitizen on GooglePlay" class="lift store-badge"/>
          </a>
          <a href="https://apps.apple.com/us/app/weather-citizen/id1472759582" target="_blank">
          <img src="assets/images/weathercitizen-on-apple-store.png" alt="Get WeatherCitizen on the App Store" class="lift store-badge"/>
          </a>
      </div>
      </div>
  </div>  
</div>
