<footer id="colophon" class="page-well">
  <div class="container flex">
    <nav class="flex">
      <a href="/">
        <img src="{{ "/assets/images/icon.png" | relative_url }}" alt="Weather Citizen" />
      </a>
      {% for link in site.footer_nav %}
        <a href="{{ link.url }}" class="flex">{{ link.title }}</a>    
      {% endfor %}
    </nav>
    <div class="copyright">
      <a href="https://www.creare.com/" target="_blank">
        <img class="icon" src="{{ "/assets/images/creare-logo-white.svg" | relative_url }}" alt="Creare Logo" />
      </a>
      <p>Open Water Logger is a project of Creare <br> with support from NOAA.</p>
      <p><em>Copyright &copy; Creare LLC, {{ site.time | date: '%Y' }}. All Rights Reserved.</em></p>
    </div>
  </div>
</footer>
